.App {
  text-align: center;
  background-color: black;
  color: white;
}

.menu {
  background-color: #95a5a6;
}

.header {
  background-color: #8b8c89;
  height: 38px;
  padding: 12px;
  width: 100%;
}

